 body {
    min-width: 520px;
    padding-top: 20px;
	background-image: url("/img/stars.jpg");
	padding-left: 100px;
  }
   h3 {
    text-align: center;
  background-color: white;
  margin-top: 0;
  margin-bottom: 0.1em;
  }
  .column {
    width: 200px;
    height: 95%;
    padding-bottom: 100%;
	opacity: 0.96;
    float: left;
    margin-right:10px;
    background-color: #EFEFEF;
  }
    #newcol {
    width: 200px;
    height: 95%;
    padding-bottom: 100%;
	opacity: 0.85;
    float: left;
    margin-right:10px;
    background-color: #EFEFEF;
  }
  .portlet {
    margin: 1em 1em 0;
    padding: 0.3em;
	
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 0.1em 0.1em 0;
    height: 50px;
  }
  .newport {
    text-align: center;
    cursor: pointer;
  }
  hr {
  background-color: #fff;
  height: 10px;
  border: 0;
  margin-top: 3px;
  }
  .hdr {
  background-color: #000;
  height: 10px;
  border: 0;
  margin-top: 3px;
  }
